/*--PROJECT INFORMATION:
Class: CPSC 335
Section: 05
Project Number: 01
Project Name: TP Ant Algorithm
Team Name: ARS
Team Members: Samprayash Dahal
Contact: sdahal@csu.fullerton.edu 
Style.css file
*/
body {
  text-align: center;
  font-family: sans-serif;
}
canvas {
  background-color: black;
}
